template(name='full_view')
    .content 
        // a.ui.centered.inline.header.zoomer(href="/d/#{model}/#{_id}")
        .ui.header #{model}
        if title
            a.ui.centered.inline.header.zoomer
                |#{title}
        span.left.floated
            if icon 
                +i name=icon color=icon_color
            a.view_user(title='view profile')
                img.ui.avatar.image(src="{{c.url _author.image_id height=200}}" title=_author.username)
                |#{_author.username}
            div
            // +parent_block
            // +parent_avatar
        span.right.floated
            |#{when}
            +model_icon
            if currentUser.admin_mode
                if published 
                    i.green.icon(title='published')
                else 
                    i.yellow.save.icon(title='draft')
        div
        if location
            |#{location}            
        if location
            |#{datetime}
    // if youtube_id 
        +youtube_view key='youtube_id'
    // if link
        .content.smallscroll 
            iframe.invert(width='100%' height='500px' src=link frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

    .content.smallscrol
        if body 
            // - limit to 200 words closed block
            |{{nl2br body}}
        else if brief
            |!{brief}
        else if content
            |!{content}
        if link
            iframe.invert(width='100%' height='500px' src=link frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        // else if youtube_id
        //     +youtube_view key='youtube_id'
        if image_id
            img.ui.fluid.image.toggle_fullview.pointer(src="{{c.url image_id width=50 height=50}}")
    .content 
        .description
            // .ui.header lat: #{lat}
            // .ui.header lng: #{lng}
            //     // i.newspaper.large.icon
            +author_info
            +print_this
            if location 
                .ui.label 
                    i.marker.icon
                    |#{location}
            // .ui.image.large.label 
            //     img.ui.image(src="{{c.url _author.image_id width=400 height=400}}")
                // i.user.icon
                |#{_author_username}
            if tags 
                each seven_tags 
                    .ui.basic.label #{this}

            // +eft_view_item_small
  
        .content
            .left.floated
                // +voting
            a.right.floated.zoomer.fly_right(href="/d/#{model}/#{_id}")
                i.eye.icon
                | #{views} views
                each viewer_usernames
                    .ui.small.inverted.label #{this}
            if _author_id
                +author_info
            div
            // +eft_viewer_small
            each tags 
                .ui.small.label #{this}
            if can_edit 
                .ui.icon.input(title='add tags')
                    i.tag.icon
                    input(type='text')
                +print_this
                +remove_button
        // if template_exists
        //     +Template.dynamic template=model_template
    .extra.content
        +comments



template(name='remove_button')
    i.large.remove.red.link.circular.icon.delete(title='delete')