head
    title loom
    meta(name='viewport', content='user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    
    link(rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")

    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="apple-mobile-web-app-title" content="gratigen")
    meta(name="application-name" content="gratigen")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#000000")
    
    
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet")
    
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css')
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    // link(href="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css" rel="stylesheet")
    script(src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js")


    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js')
    
    //- script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-140259454-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-GLYPPRGJFQ');

body 
    +loom
    
    
template(name='datepicker')
    .ui.button.get get
    #datepicker
    // .ui.form
    //     .two.fields
    //         .field
    //             label Start date
    //             #rangestart.ui.calendar
    //                 .ui.input.left.icon
    //                     i.calendar.icon
    //                     input(type='text' placeholder='Start')
            // .field
            //     label End date
            //     #rangeend.ui.calendar
            //         .ui.input.left.icon
            //             i.calendar.icon
            //             input(type='text' placeholder='End')
    
    
template(name='loom')
    .ui.padded.divided.celled.stackable.centered.grid
        .eight.wide.center.aligned.column
            // +quickchat
            img.ui.tiny.inline.image(src="https://cdn-icons-png.flaticon.com/512/2128/2128771.png")
            .ui.inline.header loom
        
            // unless session_get 'fullview_id'
            .ui.center.aligned.column
                .ui.animated.fade.tertiary.circular.large.center.alligned.zoomer.button.launch_modal.add_doc(style="color:green")
                    .visible.content
                        // i.big.green.play.dark-mode.icon(class=gicon)
                        +i name='play-button-circled--v1' color='40C057' cl='ui image'

                    .hidden.content
                        .ui.massive.header Engage
                .centered   
                    // .ui.search
                    //     .ui.large.icon.input.search_bar
                    //         input.prompt(type='text' placeholder='add/request/search...')
                    //         i.search.icon
                    //     .results
                    // with model_filter_doc
                    //     a.ui.label.unpick_model(title='remove filter')
                    //         i.remove.icon
                    //         |#{this}
                    // each model_filters 
                    //     a.ui.label.unpick_model(title='remove filter')
                    //         i.remove.icon
                    //         |#{this}
                    +smaba
                    +session_set key='view_mode' value='grid' icon='th' 
                    +session_set key='view_mode' value='list' icon='list'
                    +session_set key='view_mode' value='feed' icon='stream'
            .scrolling
                // .ui.hidden.divider
                if session_is 'view_mode' 'list'
                    .ui.divided.selection.items 
                        each doc_results 
                            +home_list_item
                else if session_is 'view_mode' 'grid'
                    .ui.three.stackable.cards
                        each doc_results
                            +home_card
                else    
                    .ui.centered.one.cards
                        each doc_results
                            +home_card
        .scrolling.eight.wide.centered.column
            +datepicker
        if session_get 'fullview_id'
            .scrolling.eight.wide.centered.column
                .ui.circular.basic.purple.icon.button.clear_fullview 
                    i.large.remove.icon
                with fullview_doc 
                    .ui.one.cards
                        +home_card
        
    
template(name='icon_browser')
    // .ui.header icons
    // .ui.large.input
    //     input.search_task(type='text' placeholder='add task')
    // |#{complete_count} complete
    // |#{incomplete_count} incomplete
    // .ui.divided.list
    //     each org_task_docs
    //         +task_item_small
    
template(name='eft_dropdown')
    .ui.simple.dropdown.button
        i.heart.icon
        i.dropdown.icon 
        if current_model_filter
            |#{current_model_filter}
        .menu
            +eft_filter color="red" icon='heart' label='care'
            +eft_filter color="FF73EA" icon='food' label='food'
                //pink
            +eft_filter color="B785E1" icon='home' label='housing'
                //lavender
            +eft_filter color="6b0fb9" icon='tshirt' label='clothing'
                //purple
            +eft_filter color="0000f7" icon='smile' label='wellness'
                //darkblue
            +eft_filter color="00ddff" icon='car' label='travel'
                //lightblue
            +eft_filter color="00ffc3" icon='dog' label='animals'
                //turquoise
            +eft_filter color="148023" icon='leaf' label='plants'
                //darkgreen
            +eft_filter color="35ca2d" icon='recycle' label='regen'
                //brightgreen
            +eft_filter color="ffff00" icon='lightning' label='energy'
                //yellow
            +eft_filter color="ffd000" icon='paint brush' label='art'
                //gold
            +eft_filter color="ff6f00" icon='university' label='education'
                //orange
            +eft_filter color="FF0000" icon='users' label='community'
                //red
            +eft_filter color="000000" icon='ambulance' label='emergency'


template(name='model_dropdown')
    .ui.simple.dropdown.button
        i.database.icon
        i.dropdown.icon 
        if current_model_filter
            |#{current_model_filter}
        .menu
            // .ui.dropdown-content
            // .item
            +filter_model model='post' icon='for-you' color='1255B8'
            //blue
            +filter_model model='offer' icon='hand-holding-heart' color='FF73EA'
            //pink
            +filter_model model='request' icon='commercial' color='40C057'     
            //green
            div
            +filter_model model='org' icon='building' color='83DFF4'
            +filter_model model='groups' icon='groups' color='ffd000'
            //light blue
            +filter_model model='project' icon='project' color='7229AF' 
            //violet
            +filter_model model='event' icon='calendar' color='FAB005'
            //yellow
            +filter_model model='role' icon='what-i-do' color='42E8C4'
            //turquoise
            +filter_model model='task' icon='task' color='B785E1'
            
            +filter_model model='product' icon='shop' color='40C057'
            
            +filter_model model='service' icon='service' color='FF73EA'
    
            //lavender
            +filter_model model='resource' icon='field-and-tractor' color='FD7E14'  
            //orange
            +filter_model model='skill' icon='wrench' color='ff0000'
            +filter_model model='badge' icon='badge' color='ff0000'
            //red
            // +filter_model model='food' icon='food' 83DFF4
            // .ui.dropdown-content



template(name='smaba')
    +eft_dropdown
    .ui.icon.left.action.input
        if current_site_search
            i.remove.large.red.link.icon.clear_search.zoomer(title='clear search')
        else
            i.search.large.grey.link.icon.zoomer(title='search')
        input.search_site(type='text' autocomplete="off" value=current_site_search placeholder='ask loom...')
    +model_dropdown
    // tags
    each picked_tags
        .ui.label
            i.remove.icon
            |#{this}
            
    // users
    each user_search_results
        button.ui.button.goto_doc
            if image_id
                img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
            |#{username}
            
            
    // doc results       
    each doc_search_results
        button.ui.button.goto_doc(title=model)
            if image_id
                img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
            |{{cut title}}

template(name='home_card')
    a.ui.card.pick_me
        .content.smallscroll 
            // a.ui.centered.inline.header.zoomer(href="/d/#{model}/#{_id}")
            if title
                a.ui.centered.inline.header.zoomer
                    |#{title}
            span.left.floated
                if icon 
                    +i name=icon color=icon_color
                a(href="/user/#{username}" title='view profile')
                    img.ui.avatar.image(src="{{c.url _author.image_id height=200}}" title=_author.username)
                    |#{_author.username}
                div
                // +parent_block
                // +parent_avatar
            span.right.floated
                |#{when}
                +model_icon
                if currentUser.admin_mode
                    if published 
                        i.green.icon(title='published')
                    else 
                        i.yellow.save.icon(title='draft')
            div
            if location
                |#{location}            
            if location
                |#{datetime}
        // if youtube_id 
        //     +youtube_view key='youtube_id'
        // if link
        //     .content.smallscroll 
        //         iframe.invert(width='100%' height='500px' src=link frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

        .content.smallscroll 
            if body
                |{{nl2br body}}
            if brief
                |!{brief}
            if content
                |!{content}
        if link
            +link_field
        else if youtube_id
            // +youtube_view key='youtube_id'

            img.ui.fluid.image.toggle_fullview.pointer(src="{{c.url image_id width=500 height=500}}")
        .content 
            .description
                // .ui.header lat: #{lat}
                // .ui.header lng: #{lng}
                //     // i.newspaper.large.icon
                if location 
                    .ui.label 
                        i.marker.icon
                        |#{location}
                // .ui.image.large.label 
                //     img.ui.image(src="{{c.url _author.image_id width=400 height=400}}")
                    // i.user.icon
                    |#{_author_username}
                // if tags 
                //     each seven_tags 
                //         .ui.basic.label #{this}

                // +eft_view_item_small
      
            .content
                .left.floated
                    // +voting
                a.right.floated.zoomer.fly_right(href="/d/#{model}/#{_id}")
                    | #{views} views
                // if _author_id
                //     +author_info
                
                    //- i.eye.icon
                //     each viewer_usernames
                //         .ui.small.inverted.label #{this}
                // //- +comments
                div
                // +eft_viewer_small
                // if currentUser.admin_mode
                //     +print_this
                //     +remove_button
                // each tags 
                //     .ui.small.label #{this}
                if currentUser.admin_mode 
                    +remove_button
            // if template_exists
            //     +Template.dynamic template=model_template
        // .extra.content
        //     +comments
      
template(name='home_list_item')
    // if _is 'model' 'role'
    //     +role_card
    // else if _is 'model' 'event'
    //     +event_card
    // else if _is 'model' 'recipe'
    //     +recipe_card
    // else 
    .ui.item
        img.ui.small.inline.image(src="{{c.url image_id width=400 height=400}}")
        .content
            a.ui.inline.header.zoomer(href="/d/#{model}/#{_id}")
                |#{title}
            span.left.floated
                if icon 
                    +i name=icon color=icon_color
                img.ui.avatar.image(src="{{c.url _author.image_id}}" title=_author.username)
                
                |#{_author.username}
                div
                // +parent_block
            span.right.floated
                |#{when}
                +model_icon
            div
            if location
                |#{location}            
            if location
                |#{datetime}
        if youtube_id 
            +youtube_view key='youtube_id'
        .content 
                |!{body}
                |!{brief}
                |!{content}
        .content 
            .description
                // .ui.header lat: #{lat}
                // .ui.header lng: #{lng}
                //     // i.newspaper.large.icon
                // .ui.image.large.label 
                //     img.ui.image(src="{{c.url _author.image_id width=400 height=400}}")
                    // i.user.icon
                    |#{_author_username}
                // if tags 
                //     each seven_tags 
                //         .ui.basic.label #{this}

                // +eft_view_item_small
      
            .content
                .left.floated
                    +voting
                .right.floated
                    | #{views} views
                // if _author_id
                //     +author_info
                
                    //- i.eye.icon
                //     each viewer_usernames
                //         .ui.small.inverted.label #{this}
                // //- +comments
                div
                // +eft_viewer_small
                // if currentUser.admin_mode
                //     +print_this
                //     +remove_button
                // each tags 
                //     .ui.small.label #{this}
                // +comments
            // if template_exists
            //     +Template.dynamic template=model_template
      
      
      
template(name='model_icon')
    if _is 'model' 'org' 
        +i name='groups' color='83DFF4' cl='ui inline mini image'
    if _is 'model' 'project'
        +i name='project' color='7229AF' cl='ui inline mini image'
    if _is 'model' 'post'
        +i name='for-you' color='1255B8' cl='ui inline mini image'
    if _is 'model' 'event'
        +i name='calendar' color='FAB005' cl='ui inline mini image'
    if _is 'model' 'task'
        +i name='task' color='B785E1' cl='ui inline mini image'
    if _is 'model' 'offer'
        +i name='hand-holding-heart' color='FF73EA' cl='ui inline mini image'
    if _is 'model' 'request'
        +i name='commercial' color='40C057' cl='ui inline mini image'
    if _is 'model' 'role'
        +i name='what-i-do' color='42E8C4' cl='ui inline mini image'
    if _is 'model' 'resource'
        +i name='field-and-tractor' color='42E8C4' cl='ui inline mini image'

      
      
        +home_card
        //should be small_card    
    
    
template(name='eft_filter')
    a.ui.header.item.toggle_item.invert(style="color:##{color}" class=side_item_class)
        span.glabel #{label}
        i.icon.gicon(class=icon)
        // if session_is 'expand_leftbar' true
        
        // if is_toggled
        //     i.large.checkmark.icon

template(name='filter_model')
    .item.inverted.pick_model.zoomer(class=button_class)
        // .item.pick_model.zoomer(class=button_class)
        // +i name=icon color=color cl="ui mini inline image"
        +i name=icon color=color cl="model_item_icon ui inline image"
        // i.exchange.large.icon
        |#{model}
                    
                    
template(name='i')
    img(src="https://img.icons8.com/ios/48/000000/#{name}.png" class='ui inline image' title=title)
    
template(name='session_set')
    .ui.compact.large.circular.button.set_session_value(class=calculated_class)
        // if icon
        //     +i name=icon cl='ui mini centered image'
        // if icon_view 
        i.icon(class=icon)
        // else 
        if label
            |#{label}
        else 
            |#{value}
