template(name='nav')    
    .ui.attached.menu.hscroll
        .item
            a.ui.inline.header(href="/")
                img.ui.mini.inline.image(src="https://cdn-icons-png.flaticon.com/512/2128/2128771.png")
                |loom
                if session_get 'loading'
                    i.large.yin.yang.loading.icon
                    |loading...
        .input.item
            .ui.icon.left.action.input
                i.brain.large.pink.link.icon.zoomer.submit_ai(title='search')
                input.ai_input(type='text' autocomplete="off" value=current_site_search placeholder='ask da vinci...')
            .ui.icon.left.action.input
                if current_site_search
                    i.remove.large.red.link.icon.clear_search.zoomer(title='clear search')
                else
                    i.search.large.grey.link.icon.zoomer(title='search')
                input.search_site(type='text' autocomplete="off" value=current_site_search placeholder='ask loom...')
        // .item
        // +model_dropdown
        .right.menu
            if currentUser
                a.item.add_new_doc
                    i.plus.icon
                a.item(href="/calendar" title='calendar')
                    i.large.calendar.icon
                a.item(title='points')
                    |#{currentUser.points}p
                a.item(href="/coin" title='coins')
                    |#{my_coins.count}c
                a.item.logout
                    |logout #{currentUser.username}
